.card {
    background-color: #4f4f4f;
scroll-snap-align: start;
border-radius: 30px;
min-height: 400px;
min-width: 300px;
display: flex;
align-items: center;
justify-content: center;
}
.card:nth-child(odd) {
background: linear-gradient(-229deg,
Jufbd52d, O ef3a7b);

}
.card:nth-child(even) {
background: linear-gradient(-229deg,
Duff70af, 5fa8fs);
}
.card img{
display: flex;
}