@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;500;600;700&family=Lemon&family=Open+Sans:wght@400;600&family=Titillium+Web:ital,wght@0,300;0,700;1,400&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap");



section {
  padding: 20px 15%;
}

.contact {
  background-color: #101010;
  height: 50%;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  gap: 3rem;
}

.contact-form {
  font-size: 60px;
  color: #fff;
  margin-bottom: 20px;
}

span {
  color: #e35969;
}
.contact-form p {
  color: #c6c9d8bf;
  letter-spacing: 1px;
  line-height: 26px;
  font-size: 1.1rem;
  margin-bottom: 3.9rem;
}

.contact-form form {
  position: relative;
}

.contact-form form input,
form textarea {
  width: 100%;
  padding: 17px;
  border: none;
  outline: none;
  background-color: #191919;
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 0.7rem;
  border-radius: 10px;
}

.contact-form textarea {
  resize: none;
  height: 100px;
}

.contact-form form .btn {
  background-color: transparent;
  border: #e35969 solid 0.1rem;
  border-radius: 20px;
  padding: 5px 10px;
  width: 15vh;
  color: #e35969;
  text-decoration: none;
}

.contact-form form .btn:hover {
  background-color: #e35969;
  cursor: pointer;
  color: #000;
}
.contact-form form .btn:active{
  background-color: #101010;
  cursor: pointer;
  color: #e35969;
}

@media (max-width: 1570px) {
  section {
    padding-top: 80px 3%;
    transition: 0.2s;
  }
  .contact-form h1 {
    font-size: 60px;
  }

  .contact-form p {
    margin-bottom: 3rem;
  }
}
@media (max-width: 1090px) {
  .contact {
    gap: 2rem;
    transition: 0.3s;
  }
}

@media (max-width: 1000px) {
  .contact {
    grid-template-columns: 1fr;
  }
  .contact-form {
    order: 2;
  }
}
