@media only screen and (min-width: 600px) {

*{
    margin: 0;
    /* border: 1px solid; */
}
.background{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    background-image: url("./background.png");
    background-position:right;

}
.skillsTitle{
    color: #E35969;
    margin-bottom:1vh;
}
.skillsLine{
    margin-bottom: 4vh;
    height: 4px;
    width: 9vh;
    background-color: #E35969;
}
.languages{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;

}
.language{
    width: 25vh;
    height: 25vh;
    background-color:white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.lines2{
    width: 30vh;
    height: 10vh;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    rotate: -20deg;
    position: absolute;
    margin-left: 60vh;
}

}
@media only screen and (max-width: 600px) {

    *{
        margin: 0;
        border: 1px solid;
    }
    .background{
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1e1e1e;
        flex-direction: column;
        background-image: none;

    
    }
    .skillsTitle{
        color: #E35969;
        margin-bottom:1vh;
    }
    .skillsLine{
        margin-bottom: 4vh;
        height: 4px;
        width: 9vh;
        background-color: #E35969;
    }
    .languages{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 25px;

    }
    .language{
        width: 15vh;
        height: 15vh;
        background-color:white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    /* .lines2{
        width: 15vh;
        height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        rotate: -20deg;
        margin-bottom: 45vh;
    }
    .line1{
        height: 4px;
        border-radius: 20px;
        background-color: #E35969;

    }
    .line2{
        height: 4px;
        border-radius: 20px;
        background-color: #E35969;
        margin-right: 15px;

    } */
    }
    @media only screen and (max-width: 400px) {

        *{
            margin: 0;
            border: 1px solid;
        }
        .background{
            height: 60vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #1e1e1e;
            flex-direction: column;
            background-image: none;
    
        
        }
        .skillsTitle{
            color: #E35969;
            margin-bottom:1vh;
        }
        .skillsLine{
            margin-bottom: 4vh;
            height: 4px;
            width: 9vh;
            background-color: #E35969;
        }
        .languages{
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 25px;
    
        }
        .language{
            width: 10vh;
            height: 10vh;
            background-color:white;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        
        }
    }