.DashNav{
    background-color: black;
    color:white;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
    padding:0px 10px;
    height: 100px;
    align-items: center;
}
.DashNav h1{
    font-size: 2.5rem;
}
.navLeft{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}
.DashBody{
background-color: rgb(25, 26, 51);
display: flex;
flex-flow:row wrap;
height:100vh;
}
.aside{
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    align-items: flex-start;
}
.asideElement{
    background-color: rgb(84, 71, 71);
    padding:2vh 2vw;
    margin:1px;
width:7rem;
color:white;
font-size: 1.5rem;
font-family:Arial, Helvetica, sans-serif;
font-weight: bold;
}
label{
    color:white;
}
.input{
    margin:1rem;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
}
input{
    border:0;
    margin-left:10vh;
    border-radius:20px;
    background-color: rgb(198, 47, 47);
    height:5px;

}
.infoSection{
    width:35vh;
    padding:5vh;
}
.profilePictureSection {
    width:56vw;
    margin:5vw;
    display: flex;
flex-flow:column wrap;
    align-items: center;
    flex-basis: 20vh;
    

}
.profilePictureSection img{
    width:20vh;
    flex-basis:20vw;
border-radius: 15px;    
position:relative;

}
button{
    border:0;
    border-radius: 25px;
    background-color: rgb(13, 11, 26);
    color:white;
    width:12vw;
    height: 4vw;
    font-size: 2vw;;

}
.save{
margin-top:4vw;
margin-left:15vw;
}
.upload{
    margin-top:5vw;
}
.pinkLine{
position:absolute;
margin-top:25vw;
border-bottom: 10px solid salmon;
border-radius:20%;
font-size:10px;
color:transparent;
}