button{
    border:0;
    border-radius: 40px;
    background-color: rgb(13, 11, 26);
    color:white;
    width:12vw;
    height: 4vw;
    font-size: 2vw;
}
.DashNav{
    background-color: black;
    color:white;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
    padding:0px 10px;
    height: 100px;
    align-items: center;
}

.DashNav h1{
    font-size: 2.5rem;
}
.navLeft{
    padding:0 2vw;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}
.logOut{
    margin-bottom: 1vh;
}
.DashBody{
background-color: rgb(25, 26, 51);
display: flex;
flex-flow:row wrap;
height:100vh;
justify-content: space-between;
}
.aside{
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    align-items: flex-start;
}
.asideElement{
    background-color: rgb(84, 71, 71);
    padding:4.1vh 4vw;
    margin:0 0 0.2vh 0;
width:7rem;
color:white;
font-size: 1.5rem;
font-family:Arial, Helvetica, sans-serif;
font-weight: bold;
}
.asideElement:hover{
    background-color: white;
    color:rgb(14, 70, 14);
}
.infoSectionProfile{
    margin-top:9vh; 
    /* display:none;    */
    
}
label{
    color:white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    /* border:10px solid pink; */
    padding-top:2vh;
}
.input{
    margin:1vw;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;

}
input{
    border:0;
    border-radius:40px;
    background-color: rgb(198, 47, 47);
    height:0.1vh;

}

.save{
    margin-top:4vw;
    margin-left:15vw;
    }
.pictureSectionProfile {
    width:56vw;
        /* display: none; */
        display: flex;
flex-flow:column wrap;
    align-items: center;
    flex-basis: 20vh;
padding:8vh 10vw;
margin-top:8vh;
}

.pictureSectionProfile .imgSection img{
    width:10vw;
    height:auto;
    flex-basis:20vw;
border-radius: 15px;    
position:relative;

}
.pinkLine{
position:absolute;
margin-top:-1.4vw;
margin-left:0.7vw;
border-bottom: 1vh solid salmon;
border-radius:20%;
font-size:0.5vw;
color:transparent;
}
.upload{
    margin-top:5vw;
}

@media only screen and (max-width: 600px) {
    .navRight{
        display: flex;
        flex-direction: row nowrap;
        align-items: center;
        justify-content: space-between; 
    flex-basis:30vw;   
    margin: auto;

}
    .navLeft{
        display: none;
    }
    .navRight h1{
font-size: 10vw;
margin-left:5vw;
    }
    .DashBody {
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: center ;
    }
    .aside{
        width: 100vw;
    }
    .asideElement{
        width: 100vw;
    }
    .infoSection{
        width:10vw;
    }
    .input{
    margin:1vw;
    display:flex;
    flex-flow:column wrap;
align-items: center;    }

label{
    background-color: black;
}  

input{
    width:1vw;
}
}