@media only screen and (min-width: 600px) {

    .border {
      border: 3px #e35969 solid;
      border-radius: 1rem;
      height: 30vh;
    }
    .section1Ancers {
      display: flex;
      flex-direction: column;
      height: 30vh;
      justify-content: space-around;
    }
    .section1Ancer {
      border: white solid;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .section1AncerImg {
      width: 40px;
    }
    .headerSection {
      height: 80vh;
      display: flex;
      margin: auto;
      align-items: center;
      justify-content: space-around;
      background-color: #101010;
    }
    .section1Content {
      display: flex;
      flex-direction: column;
      height: 40vh;
      justify-content: space-around;
      text-shadow: 1px 1px 5px #e35969;
    }
    .domain {
      display: flex;
    }
  
    .contactSection1Btn {
      background-color: transparent;
      border: #e35969 solid 0.1rem;
      border-radius: 20px;
      padding: 5px 10px;
      width: 110px;
      color: #e35969;
      text-decoration: none;
      
    }
    .contactSection1Btn:hover {
      background-color: #e35969;
      cursor: pointer;
      color: #000;
    }
    .contactSection1Btn:active {
      background-color: #101010;
      cursor: pointer;
      color: #e35969;
    }
    .section1Img {
      width: auto ;
      height:300px;
      background-color: black;
      border-radius: 20px;
      z-index: 1;
      border-bottom: 4px #e35969 solid;
    }
    .salutMyName {
      display: flex;
    }
    .salutName {
      color: #e35969;
    }
    .skills{
      display: flex;
      color:#e35969;
    }
  }
  
  @media only screen and (max-width: 600px) {
    
    .border {
      display: none;
    }
    .section1Ancers {
      display: flex;
      width: 35vh;
      height: 10vh;
      justify-content: space-around;
    }
    .section1Ancer {
      border: white solid;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .section1AncerImg {
      width: 40px;
      height: auto;
    }
  
    .headerSection {
      height: 140vh;
      display: flex;
      flex-direction: column-reverse;
      margin: auto;
      align-items: center;
      justify-content: space-around;
      background-color: #101010;
    }
    .section1Content {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 40vh;
      justify-content: space-around;
    }
    .domain {
      display: flex;
    }
  
    .contactSection1Btn {
      background-color: transparent;
      border: #e35969 solid 0.1rem;
      border-radius: 20px;
      padding: 5px 10px;
      width: 110px;
      color: #e35969;
      text-decoration: none;
  
    }
    .contactSection1Btn:hover {
      background-color: #e35969;
      cursor: pointer;
      color: #000;
    }
    .contactSection1Btn:active {
      background-color: #1e1e1e;
      cursor: pointer;
      color: #e35969;
    }
    .section1Img {
      width: 30vh;
      background-color: black;
      height:auto;
      border-radius: 20px;
      z-index: 1;
      border-bottom: 4px #e35969 solid;
    margin-bottom:-200px;
    }
    .salutMyName {
      display: flex;
    }
    .salutName {
      color: #e35969;
    }
    .salut {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .skills{
      display: flex;
      color: #e35969;
    }
  }